# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/
.venv/

# Variables d'environnement
.env

# Logs
*.log

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store